<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="CarLoan">
		<classes>
			<class name="test.Day1">
				<methods>
					<include name="loginCarloan" />
				</methods>
			</class>
			<class name="test.Day3" />
		</classes>
	</test>
	<test name="HomeLoan">
		<classes>
			<class name="test.Day2">
				<methods>
					<exclude name="exitHomeloan" />
					<exclude name="login.*" />
				</methods>
			</class>
		</classes>
	</test>
</suite> 
